[Unit]
Description=Django Application
After=network.target chroma.service
Requires=chroma.service

[Service]
User=root
WorkingDirectory=/root/be-kolab
ExecStart=/root/be-kolab/.venv/bin/gunicorn core.wsgi:application --bind 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
